*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: url(img/background.png);
}

.header{
    background-color: rgb(255, 255, 255, 0.75);
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-centering{
    padding: 25px 0;
}

.row{
    margin: 0 -15px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col-md-3{
    width: 25%;
    height: 100%;
}

.header__logo{
    margin-top: 7px;
    box-sizing: border-box;
}

.col-md-6{
    width: 50%;
}

.col-md-9{
    width: 75%;
}

[class*="col-"]{
    float: left;
    padding: 0 15px;
}


.header__menu::after{
    content: "";
    clear: both;
    display: block;
}

.header__menu li{
    float: left;
    width: 25%;
    height: 50px;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.header__menu li:last-child{
    border-right: 1px solid #2c71b8;
}

.header__menu>li>a{
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    font-weight: 300;
    display: block;
    text-align: center;
    line-height: 50px;
}

.header__menu>li>a:hover{
    color: white;
    background-color: #2c71b8; 
}

.arrow-down{
    background-image: url(img/arrow-down-blue.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center left 115px;
}

/* dropdown menu */
.dropdown{
    position: absolute;
    width: 202%;
    background-color: #2c71b8;
    padding-top: 17px;
    left: -1px;
    visibility: hidden;
    opacity: 0;
}

.dropdown a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: #2c71b8;
    font-size: 21px;
    padding: 12px 0;
    font-weight: 300;
    padding-left: 30px;
}

.dropdown a:hover{
    background-color: #fff;
    color: #2c71b8;
}

.header__menu li:hover > .dropdown{
    visibility: visible;
    opacity: 1;
}

.header__menu > li:hover > .arrow-down{
    color: white;
    background-color: #2c71b8;  
    background-image: url(img/arrow-down-white.png);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center left 115px;
}

.form-search{
    border: 1px solid #2c71b8;
    height: 40px;
    padding: 4px;
    width: 200px;
}

.form-search input{
    height: 100%;
    float: left;
    border: none;
    background-color: transparent;
    padding: 0;
    width: 155px;
    font-size: 21px;
    padding-left: 20px;
}

.form-search input::placeholder{
    color: #2c71b8;

}

.form-search input:focus{
    outline: none;
}

.form-search button{
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    background-color: #2c71b2;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.form-search::after{
    content: "";
    display: block;
    clear: both;
}

.five-px-backdown{
    margin-top: 5px;
}

.basket{
    background-color: #fff;
    height: 40px;
    width: 40px;
    position: relative;
    background-image: url(img/basket_blue.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.product__count{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #2c71b2;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    left: -10px;
    margin-right: -10px;
}

